body{
    font-family: 'Raleway', sans-serif;
}
aside{
    font-family: 'Raleway', sans-serif;
}
div{
    font-family: 'Raleway', sans-serif;
}
input{
    font-family: 'Raleway', sans-serif;
}
header{
    font-family: 'Raleway', sans-serif;

}
.row{
    font-family: 'Raleway', sans-serif;
}
.text-white{
    font-family: 'Raleway', sans-serif;
}
.box-title{
    font-family: 'Raleway', sans-serif;
}
.col-12{
    font-family: 'Raleway', sans-serif;
}
.card-subtitle{
    font-family: 'Raleway', sans-serif;
}
h3{
    font-family: 'Raleway', sans-serif;
}