body{
    font-family: 'Raleway', sans-serif;
}
.top-nav{
    background-color: #EAEAEA;
}
.sidebar-links{
    background-color: #191919;
    margin-bottom: 0px;
    padding: 30px 0px;
    border-bottom: .1px solid white;
}
.sidebar-links a{
    color: white;
    font-size: 18px;
    transition: color .2s ease-in;
}
.sidebar-links a:hover{
    color: #505050;
}
.orders-card .card-title{
    padding: 10px;
}