body{
    font-family: 'Raleway', sans-serif;
}
.font{
    font-family: 'Raleway', sans-serif;
}
/* .get-started{
    margin-left: 50px;
} */
.details{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.input{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}